DATABASE_URL=""
DIRECT_URL=""

SPACES_ENDPOINT=""
SPACES_REGION=""
SPACES_BUCKET=""
SPACES_ACCESS_KEY_ID=""
SPACES_SECRET_ACCESS_KEY=""
SPACES_PUBLIC_BASE_URL=""

NODE_ENV = 'development'

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

MAX_DB_POOLING_SIZE = 20
